* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 13px;
    height: 100%;
}


.form-container {
    padding: 35px 30px 25px;

    width: auto;
    height: auto;

    border-radius: 25px;
    background-color: white;
}

.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}

#btn {
    text-align: center;
    margin: 15px 0;
}

input{
    width: 220px;

    padding: 13px 15px;
    margin: 13px 0;

    border-radius: 30px;
    border: 1px solid;

    font-size: 14px;
}

input:hover {background: #DCDCDC;}
input:focus { outline: none; }

p{
    text-align: center;
    font-size: 14px;
}

A {
    text-decoration: none;
    color: black;
}
