{% extends 'base.html' %}
{% load static %}
{% load ratingtags %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_detail.css' %}"/>
    <div class="col-md-12">
        <h2>{{ product.title }} </h2>
        <img src="{{ product.image.url }}" class="img-product-detail">
        <h4>Описание</h4>
        <p class="description">{{ product.description }}</p>
        <h4>Цена</h4>
        <p>{{ product.price }}</p>
        {% include 'add_to_cart.html' %}
    </div>
    <hr class="index-hr">
    <h4>Отзывы</h4>

    <form action="{{ product.get_absolute_url }}" method="post" class="form-review">{% csrf_token %}
        {{ form.name }}
        {{ form.rating }}
        <p>{{ form.review }}</p>
        <input id="btn" type="submit" value="Отправить">
    </form>

    {% if product.reviews %}
    <div class="reviews">
        {% for review in product.reviews.get_queryset %}
            <hr>
            <p>{{ review.rating|rating_star }}</p>
            <span>{{ review.name }}</span>
            <p>{{ review.review }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
